@{
    ViewBag.Title = "GetBlogs";
    //AjaxOptions ajaxOptions = new AjaxOptions
    //{
    //    UpdateTargetId = "blogsTable",
    //    LoadingElementId = "loadingBlogs",
    //    LoadingElementDuration = 5000,
    //    Confirm = "你真的要显示所有博客?",
    //};
}

@using ASP.NET_MVC_5.Models;

@model string
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


<div id="loadingBlogs" style="background-color:cadetblue; display:none">
    <p>Loading Blogs...</p>
</div>

<script type="text/javascript">
    function blogData(data) {
        var blog = $("#blogsTable");
        blog.empty();
        for (var i = 0; i < data.length; i++) {
            var b = data[i];
            blog.append("<tr><td>" + b.ID + "</td><td>"
            + b.Name + "</td><td>" + b.Name + "</td><td>"
            + b.BlogAddress + "</td>" + b.BlogAddress + "<td></td>"
            + b.Description + "</td>" + b.Description + "<td></td>"
            + b.Category + "</td><td>" + b.Category + "</td></tr>");
        }
    }
</script>

@*@model IEnumerable<Blog>*@
<h2>GetBlogs</h2>
<table style="background-color:lightcoral">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>BlogAddress</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (Blog p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.BlogAddress</td>
                    <td>@p.Description</td>
                    <td>@p.Category</td>
                </tr>
            }*@
    <tbody id="blogsTable">
        @Html.Action("GetBlogData", new { selectedCategory = Model })
    </tbody>
</table>

@*@using (Html.BeginForm())
    {
        <div>
            @Html.DropDownList("selectedCategory", new SelectList(new[] { "All"}.Concat(Enum.GetNames(typeof(Category))) ))
            <button type="submit">提交</button>
        </div>

    }*@

@*@using (Ajax.BeginForm("GetBlogData", ajaxOptions))
    {
        <div>
            @Html.DropDownList("selectedCategory", new SelectList(
                new[] { "All" }.Concat(Enum.GetNames(typeof(Category)))))
            <button type="submit">提交</button>
        </div>
    }*@
<br />
<br />
<div>
    @foreach (string category in Enum.GetNames(typeof(Category)))
    {
        <div class="ajaxLink">
            @Ajax.ActionLink(category, "GetBlogs",
                new { selectedCategory = category },
                new AjaxOptions
                {
                    Url = Url.Action("GetBlogDataJson", new { selectedCategory = category }),
                    OnSuccess = "blogData"
                })
        </div>
    }
</div>
